

nav, .livraison-title {
    /* height: 60px; */
    background-color: #fa871b;
    color: #fff;
    font-weight: bold;
}


.nav-link:hover {
    font-size:large;
    background-color: rgb(26, 24, 24);
    border-radius: 8px;
    font-weight: bold;
}


.card img {
    height: 300px;
}

.btn-livraison {
    background-color: transparent; /* Fond transparent */
    color: #fa871b; /* Couleur du texte  */
    border: 2px solid #fa871b; 
    padding: 10px 20px; /* Espacement intérieur */
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
}

.btn-livraison:hover {
    background-color: #fa871b; /* Couleur de fond au survol */
    color: white; /* Couleur du texte au survol */
}

